<template>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="collection-header">Ejemplo de visualizacion de datos</h3>
      </div>
    </div>
    <table class="table stripped bordered mi-tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="usuario in usuarios" :key="usuario.id">
          <td>{{ usuario.id }}</td>
          <td>
            {{ usuario.name }}
          </td>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            <ul>
              <li>Ciudad: {{ usuario.address.city }}</li>
              <li>Calle: {{ usuario.address.street }}</li>
              <li>Codigo Postal: {{ usuario.address.zipcode }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'CompoPrincipal',
  data() {
    return {
      usuarios: [],
      posts: [],
    };
  },
  methods: {
    getUsuarios() {
      fetch('https://jsonplaceholder.typicode.com/users')
        .then((response) => response.json())
        .then((data) => {
          this.usuarios = data;
        });
    },
    getPosts() {
      fetch('https://jsonplaceholder.typicode.com/posts')
        .then((response) => response.json())
        .then((data) => {
          this.posts = data;
        });
    },
  },
  mounted() {
    this.getUsuarios();
    this.getPosts();
  },
};
</script>
<style>
</style>
