<template>
  <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  <CompoPrincipal />
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue';
import CompoPrincipal from './components/CompoPrincipal.vue';

export default {
  name: 'App',
  components: {
    // HelloWorld,
    CompoPrincipal,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
